<%= provide(:title, t("layout.header.about")) %>
<h1><%= t("layout.header.about") %></h1>
<p>
  <%= t("static_page.about.content",
  tutorial: link_to(t("static_page.about.rails_tutorial"), "https://www.railstutorial.org/"),
  learnenough: link_to(t("static_page.about.learnenough"),"https://www.learnenough.com/"),
  book: link_to(t("static_page.about.book"),"https://www.railstutorial.org/book"),
  screencast: link_to(t("static_page.about.screencast"),"https://screencasts.railstutorial.org/"),
  rails: link_to(t("static_page.about.rails"),"https://rubyonrails.org/")).html_safe %>
</p>
