<footer class="footer">
  <small>
    <%= t("layout.footer.content", tutorial: link_to(t("general.rails_tutorial"),"https://www.railstutorial.org/"),
                                   author: link_to(t("layout.footer.author"),"https://www.michaelhartl.com/")).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout.footer.about"), about_path %></li>
      <li><%= link_to t("layout.footer.contact"), contact_path %></li>
      <li><%= link_to t("layout.footer.news"), "https://news.railstutorial.org/", target: "_blank" %></li>
    </ul>
  </nav>
</footer>
